<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compte vérifié !</title>
</head>

<body>
    <h1>Bonjour {{name}},</h1>
    <p>Ton compte a été validé !</p>
    <p>Tu peux désormais te connecter à la platforme.</p>
    <p>À bientôt !</p>
    <p>L'équipe {{equipe}}</p>
</body>

</html>