<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compte vérifié !</title>
</head>

<body>
    <h1>Bonjour {{name}},</h1>
    <p>Malheureusement ton compte n'a pas été validé par l'administrateur.</p>
    <p>Tu peux recommencer une inscription ou nous contacter par mail pour plus d'information</p>
    <p>Cordialement,</p>
    <p>L'équipe {{equipe}}</p>
</body>

</html>