<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change password</title>
</head>

<body>
    <h1>Bonjour {{firstname}},</h1>
    <p>Voici le lien pour changer votre mot de passe : <a href="{{url}}">{{url}}</a>.</p>
    <p>À bientôt !</p>
    <p>L'équipe de larudakoé</p>
</body>

</html>