NODE_ENV="development"
CHALLENGE_ENV="development"

#Postgres database
DATABASE_POSTGRES_DB="challengeS2-postgres"
DATABASE_POSTGRES_PASSWORD="password"
DATABASE_POSTGRES_USER="challengeS2-postgres"
DATABASE_POSTGRES_HOST="postgresdb"

#Mongo database
DATABASE_MONGO_USERNAME=challengeS2-mongo
DATABASE_MONGO_PASSWORD=password
DATABASE_MONGO_NAME=challengeS2-mongo
DATABASE_MONGO_URL=mongodb://challengeS2-mongo:password@mongodb:27017/challengeS2-mongo?authSource=admin


#FRONTEND
FRONTEND_URL=http://localhost:5173

#Api gateway
VITE_API_GATEWAY_URL=http://localhost:3080/v1

#Services (non obligatoire)
APP_SERVICE_HOST=app-service
APP_SERVICE_PORT=3021
AUTH_SERVICE_HOST=auth-service
AUTH_SERVICE_PORT=3022
JSON_WEB_TOKEN_SECRET=secret
MAILING_SERVICE_HOST=mailing-service
MAILING_SERVICE_PORT=3024
QUIZ_SERVICE_HOST=quiz-service
QUIZ_SERVICE_PORT=3028